# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [3]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [5]:
# Load data here
print ('Hello World')
df_hw1 = pd.read_csv(filepath_or_buffer = 'data/listings.csv')

Hello World

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [27]:
# 1. How many listings are there with a price less than 100? 
# print(df_hw1.columns)
listing_less_100 = df_hw1['price'] < 100
df_hw1[listing_less_100]['price'].count()

22778

In [34]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.
df_bk = pd.read_csv(filepath_or_buffer = 'data/listings.csv')
# df_bk.head()
listings_in_BK = df_bk['neighbourhood_group'] == 'Brooklyn'
df_bk[listings_in_BK]['neighbourhood_group'].count()

18632

In [41]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.
listings_in_BK = df_bk['neighbourhood_group'] == 'Brooklyn'
listing_less_100 = df_bk['price'] < 100
df_bk[listings_in_BK & listing_less_100]['neighbourhood_group'].count()

10473

In [48]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
host_list = ['Michael', 'David', 'John', 'Daniel']
condition = df_bk['host_name'].isin(host_list)
df_bk[condition].shape

(1258, 16)

In [94]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 
df_bk.head()
condition = df_bk['neighbourhood'] == 'Williamsburg'
df_bk['adjusted_price'] = df_bk['price']
df_bk['adjusted_price'] = np.where(condition, df_bk['price'] +100, df_bk['price'] )
df_bk[condition]['adjusted_price']

11       209
15       399
35       231
38       275
42       180
        ...
46484    350
46489    564
46493    200
46513    280
46517    155
Name: adjusted_price, Length: 3486, dtype: int64

In [77]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  
condition_pri = df_bk['room_type'] == 'Private room'
condition_sha = df_bk['room_type'] == 'Shared room'
x = df_bk[condition_pri]['room_type'].count()
y = df_bk[condition_sha]['room_type'].count()
z = df_bk['room_type'].count()
private_room_percentage = (x/z) * 100
shared_room_percentage = (y/z) * 100
print(private_room_percentage,shared_room_percentage)

45.444580566122895 2.12134889419047

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [8]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

In [12]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups.

In [13]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups.

In [14]:
# 4. Using `groupby`, find the mean price for each room type in each neighbourhood_group.

In [15]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

# Join and file saving.
1. Load the `prices.csv` and the `n_listings.csv`


2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']
       
       
3. Save your joined csv as `joined.csv`


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [16]:
# 1. Load the `prices.csv` and the `n_listings.csv`

In [18]:
# 2. Do join that keeps all the records for each table.

# Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

In [19]:
#  1. Who was won Album of the Year in 2016?

In [20]:
# 2. Who won Best Rap Album in 2009?

In [21]:
# 3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?